.yasil {
    background-color: gainsboro;
    color: teal;
    font-weight: bold;
  }
  .center {
    margin-left: auto;
    margin-right: auto;
  }
  table {
    border: 1px solid gainsboro;
    text-align: center;
    text-shadow: 1px;
    border-collapse: collapse;
    box-shadow: 10px 10px 30px 5px grey;
  
  }
  th {
    color: white;
    background-color: rgb(6, 142, 110);
  }
  